.ui-view-OptionsView {
    display: inline-block;
}

.ui-view-OptionsView.wide {
    display: block;
}

.ui-view-OptionsView > div.options {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 0.5rem;
    overflow: hidden;
}

.ui-view-OptionsView.wide > div.options {
    display: flex;
}

.ui-view-OptionsView > div.options > .button {
    margin: 0;
    padding: 0.125rem 0.5rem;
    flex: 1 1 auto;
    box-shadow: 0 0 1px currentColor;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0;
}
