.view-ChangePasswordView > section {
    padding: 1rem;
    margin: 0;
}

.view-ChangePasswordView > section > div.error {
    min-height: 2.5rem;
    max-height: 2.5rem;
    min-width: 300px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    overflow: hidden;
    transition: opacity 0.6s;
    font-size: 85%;
    padding: 0 1rem;
}

.view-ChangePasswordView > section > div.show {
    opacity: 1;
}

.view-ChangePasswordView > section > div.hide {
    opacity: 0;
}
