div.guide-map-OverlayManager-tooltip {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    overflow: visible;
    pointer-events: all;
}
